.cart-popup__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: #000000;
}

.cart-popup__size {
  margin: 0;
  padding: 0;

  border: none;
}

.cart-popup__heading {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: @greyish-brown;
}

.cart-popup__size-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.cart-popup__label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  color: @greyish-brown;
}

.cart-popup__button {
  border-color: @seafoam-blue;
  background-color: @seafoam-blue;
  color: #ffffff;
}
