.catalog {
  width: 320px;

  margin: 0 auto;
  padding: 0 30px;
  padding-top: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 32px;
}

.catalog__block {
  box-shadow: 0 0 0 1px #ececec;
}

.catalog__image {
  width: 260px;
  height: 195px;

  margin-bottom: 22px;
}

.catalog__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 152px;

  padding-left: 28px;

  &:hover,
  &:focus {
    box-shadow: 0px 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0px 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__item:nth-child(3) .catalog__container {
  min-height: 176px;
}

.catalog__item-title {
  margin: 0;
  margin-bottom: 6px;
  padding: 0;
  padding-right: 26px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: #000000;
}

.catalog__item-link {
  display: block;

  text-decoration: none;
  color: #000000;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__item-description {
  margin: 0;
  padding: 0;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 2.31;
  color: @greyish-brown;
}

.catalog__price-wrapper {
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 28px;

  &::after {
    content: "";

    position: absolute;
    top: -21px;
    left: 0;

    width: 204px;
    height: 1px;

    background-color: #ececec;
  }
}

.catalog__price {
  position: relative;

  display: block;

  padding-right: 131px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  color: #000000;
}

.catalog__icon {
  position: absolute;
  top: 0;
  right: 27px;

  width: 20px;
  height: 19px;

  opacity: 0.2;

  cursor: pointer;

  &:hover,
  &:focus {
    fill: #63d1bb;

    opacity: 1;
  }

  &:active {
    fill: #63d1bb;

    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width;

    margin: 0 auto;
    padding: 0 50px;
    padding-top: 77px;
  }

  .catalog__block {
    display: flex;
  }

  .catalog__item {
    margin-bottom: 49px;
  }

  .catalog__image {
    width: 334px;
    height: 100%;

    margin: 0;
  }

  .catalog__container {
    width: 335px;

    padding: 0 28px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__item-title {
    margin-top: 26px;
    padding-right: 36px;

    font-size: 20px;
    line-height: 1.2;
  }

  .catalog__item-description {
    font-size: 15px;
    line-height: 2;
  }

  .catalog__price-wrapper {
    padding-left: 5px;
    padding-bottom: 30px;

    &::after {
      top: -24px;

      width: 268px;
      height: 1px;
    }
  }

  .catalog__price {
    font-size: 17px;
    line-height: 1.41;
  }

  .catalog__icon {
    top: 0;
    right: 4px;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: @desktop-width;

    margin: 0 auto;
    padding: 0 50px;
    padding-top: 133px;
  }

  .catalog__list {
    display: flex;
  }

  .catalog__item {
    margin-bottom: 58px;
  }

  .catalog__item:not(:last-child) {
    margin-right: 52px;
  }

  .catalog__block {
    display: block;
  }

  .catalog__image {
    width: 316px;
    height: 462px;
  }

  .catalog__container {
    width: 316px;
    min-height: 191px;

    padding-left: 28px;
    padding-right: 32px;
  }

  .catalog__item:last-child .catalog__container {
    min-height: 191px;
  }

  .catalog__item-title {
    margin-top: 21px;
    padding-right: 26px;
  }

  .catalog__price-wrapper {
    padding-left: 0;
    padding-bottom: 26px;

    &::after {
      width: 256px;
      height: 1px;
    }
  }

  .catalog__icon {
    top: 0;
    right: 0;
  }
}
