.catalog-menu__wrapper {
  width: 320px;

  margin: 0 auto;
}

.catalog-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-menu__item {
  position: relative;

  width: 320px;
  height: 103px;

  &--left-green {
    background-color: @seafoam-blue;
  }

  &--right-green {
    background-color: @greeny-blue;
  }

  &:hover {
    height: 108px;
  }
}

.catalog-menu__link {
  display: inline-block;

  padding: 30px;
  padding-right: 180px;

  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  color: #ffffff;

  &:hover {
    padding-top: 25px;
  }
}

.catalog-menu__icon {
  position: absolute;
  top: 0;
  right: 0;

  &--interior {
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;
  }

  &--toy {
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;
  }
}

.catalog-menu__item:hover .catalog-menu__icon {
  &--interior {
    top: 18px;
  }

  &--toy {
    top: 16px;
  }
}

@media (min-width: @tablet-width) {
  .catalog-menu__wrapper {
    width: @tablet-width;

    margin: 0 auto;
    margin-top: -119px;
    margin-bottom: 55px;
    padding-left: 50px;
  }

  .catalog-menu__list {
    display: flex;
  }

  .catalog-menu__item {
    width: 334px;
    height: 119px;

    &:hover {
      height: 124px;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-menu__wrapper {
    width: @desktop-width;

    margin: 0 auto;
    margin-top: -120px;
    margin-bottom: 117px;
  }

  .catalog-menu__item {
    width: 525px;
  }
}
