.catalog-menu__wrapper {
  width: 320px;

  margin: 0 auto;
}

.catalog-menu__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-menu__item {
  width: 320px;
  height: 103px;

  &--left-green {
    background-color: @seafoam-blue;
  }

  &--right-green {
    background-color: @greeny-blue;
  }
}

.catalog-menu__link {
  display: inline-block;

  // width: 320px;
  // height: 103px;

  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 1.26;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .catalog-menu__wrapper {
    width: @tablet-width;

    margin: 0 auto;
    margin-top: -119px;
    padding-left: 50px;
  }

  .catalog-menu__list {
    display: flex;
  }

  .catalog-menu__item {
    width: 334px;
    height: 119px;
  }
}

@media (min-width: @desktop-width) {
  .catalog-menu__wrapper {
    width: @desktop-width;

    margin: 0 auto;
  }

  .catalog-menu__item {
    width: 525px;
  }
}
