.contacts__wrapper {
  width: 320px;

  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  color: #000000;
}

.contacts__block {
  display: flex;
  margin-bottom: 40px;
}

.contacts__value,
.contacts__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: @greyish-brown;
}

.contacts__link--address {
  text-decoration: none;
}

.contacts__value {
  display: block;

  padding-right: 32px;
}

.contacts__field {
  margin: 0;
  padding: 0;
}

.contacts__block:first-child .contacts__field {
  border-bottom: 1px solid #62d1ba;
}

.contacts__map {
  position: static;

  width: 100%;

  margin-bottom: 39px;

  border: none;

  background-color: #f1f1f1;
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;


  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-color: #f1f1f1;
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 322px auto;
  }
}

.contacts__button {
  margin-bottom: 39px;
  padding: 20px 53px;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    position: relative;

    width: @tablet-width;

    margin: 0 auto;
    padding: 0 50px;
  }

  .contacts__wrapper:first-child {
    &::after {
      content: "";

      position: absolute;
      top: -23px;
      right: 50px;
      z-index: 2;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .contacts__wrapper:last-child {
    margin-bottom: 57px;
  }

  .contacts__title {
    margin-bottom: 65px;

    font-size: 43px;
    line-height: 1.16;
  }

  .contacts__container {
    display: flex;

    margin-bottom: 61px;
  }

  .contacts__block {
    display: flex;
    align-items: flex-start;

    width: 334px;

    margin: 0;
  }

  .contacts__block:first-child {
    margin-right: 55px;
  }

  .contacts__value,
  .contacts__link {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__field {
    margin: 0;
    padding: 0;
  }

  .contacts__map {
    width: 100%;

    margin: 0;
    margin-bottom: 55px;

    border: none;

    background-color: #f1f1f1;
    background-image: url("../img/map-tablet@1x.jpg");
    background-repeat: no-repeat;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-color: #f1f1f1;
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 322px auto;
    }
  }

  .contacts__button {
    margin: 0 214px;
    padding: 20px 43px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
  }

  .contacts__wrapper {
    position: relative;

    width: @desktop-width;

    margin: 0 auto;
    padding-left: 225px;
    padding-top: 7px;
  }

  .contacts__wrapper:first-child {
    &::after {
      top: 40px;
      left: 53px;
    }
  }

  .contacts__title {
    margin-bottom: 64px;

    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 53px;
    font-weight: 700;
    line-height: 1.08;
    color: #000000;
  }

  .contacts__container {
    flex-direction: column;

    margin-bottom: 84px;
  }

  .contacts__block:first-of-type {
    margin-bottom: 15px;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 50px;

    width: 525px;
    height: 457px;

    background-color: #f1f1f1;
    background-image: url("../img/map-desktop@1x.jpg");
    background-repeat: no-repeat;


    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-color: #f1f1f1;
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 322px auto;
    }
  }

  .contacts__button {
    margin: 0;
  }
}
