.developers {
  display: flex;
  justify-content: center;
}

.developers__link {
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 8px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 0.95;
  color: #000000;

  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}

.developers__link:hover .developers__icon,
.developers__link:focus .developers__icon {
  fill: #46c1ae;
}

.developers__link:active .developers__icon {
  fill: #46c1ae;
}

.developers__icon {
  width: 35px;
  height: 42px;

  fill: #63d1bb;
}
