.developers {
  display: flex;
  justify-content: center;
}

.developers__title {
  margin: 0;
  margin-right: 30px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 8px;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 19px;
  font-weight: 700;
  line-height: 0.95;
  color: #000000;
}
