.navigation {
  display: flex;
  flex-direction: column;
}

.navigation__nav-list,
.navigation__user-list {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;

  list-style: none;
}


.navigation__link {
  display: block;

  padding: 30px 0;

  border-top: 1px solid #ececec;

  text-decoration: none;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: normal;
  color: #000000;
}

@media (min-width: @tablet-width) {
  .navigation {
    flex-direction: column;
  }

  .navigation__nav-list,
  .navigation__user-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navigation__nav-list {
    order: 2;
  }

  .navigation__item {
    margin-right: 30px;
  }

  .navigation__link {
    border: none;
  }
}
