.order-form__block {
  border: none;
}

.order-form__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  color: @seafoam-blue;
}

.order-form__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.order-form__label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.06;
  color: #000000;
}

.order-form__input {
  border: none;
  border-bottom: 2px solid #000000;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: @greyish-brown-30;
  }
}

.order-form__textarea {
  border: 2px solid #000000;

  &::placeholder {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    line-height: 1.06;
    color: @greyish-brown-30;
  }
}

.order-form__info {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: @greyish-brown;
}

.order-form__button {
  padding: 20px 47px;
  background-color: transparent;
}
