.reviews {
  padding: 0 30px;
}

.reviews__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
}

.reviews__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 2;
  color: @greyish-brown;
}

.reviews__author {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.41;
  color: #000000;
}

.reviews__address {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.76;
  color: @greyish-brown;
}

.reviews__button-container {
  display: flex;
}

.reviews__page-button {
  display: block;
  width: 130px;
  height: 52px;

  border: 1px solid #ececec;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__page-button--prev {
  background-image: url("../img/icon-left-arrow.svg");
}

.reviews__page-button--next {
  background-image: url("../img/icon-right-arrow.svg");
}

@media (min-width: @tablet-width) {
  .reviews {
    position: relative;

    display: flex;

    padding: 0 50px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 -50px;
  }

  .reviews__button-container {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .reviews__page-button {
    border: none;
  }

  .reviews__button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    padding: 0 50px;
    padding-left: 225px;

    background-position: 0 -225px;
  }
}
